index,host,source,sourcetype,_raw
oidemo,localhost,remedy_api,remedy_changeticket,"2010-09-28 00:15:30 Type=ChangeWindow WindowStart=2010-09-28 00:00:00 WindowEnd=2010-09-28 00:30:00 TargetServer=YYYYYYYYYY TicketId=10020 User=XXXXXXXXXX TargetClass=mysql TargetChangeObject=CoreConfig TargetChangeProperty=MaxMemory TargetChangePropertyValue=2048"
oidemo,localhost,remedy_api,remedy_changeticket,"2010-09-28 00:19:30 Type=ChangeWindow WindowStart=2010-09-28 01:00:00 WindowEnd=2010-09-28 01:30:00 TargetServer=YYYYYYYYYY TicketId=10021 User=XXXXXXXXXX TargetClass=mysql TargetChangeObject=CoreConfig TargetChangeProperty=MaxLogSizeMB TargetChangePropertyValue=256"
