#TimeRangePicker_0_1_0 {
    float: left;
}

#TimeRangePicker_0_1_0 .timeRangePickerLabel {
    float: left;
    vertical-align: middle;
}

#TimeRangePicker_0_1_0 .timeRangeActivatorWrapper {
    float: left;
    vertical-align: middle;
}

#SearchSelectLister_0_2_0 {
    float: left;
    vertical-align: middle;
    padding-left: 20px;
}

#SearchSelectLister_1_4_0 {
    float: left;
    vertical-align: middle;
    padding-left: 20px;
}

#SubmitButton_0_6_0 {
    float: left;
    vertical-align: middle;
    padding-left: 20px;
}